.red{
  color: red;
}

.bold{
  font-weight: bold;
}

.Cockpit button{
  background: green;
  padding: 7px;
  color: #fff;
  font-size: 22px;
  border: 1px solid #29422a;
}

.Cockpit button:hover{
  background: yellow;
  color: black;
}

.Cockpit button.Red{
  background: red;
}

.Cockpit button.Red:hover{
  background: pink;
}
